<%- include('./partials/dashboard/header.ejs'); %>

<style>
    .page-class{
        background-color: #a99696;
    }

     /* Styles for the loader container */
     .loader-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999; /* Ensure it's on top of other elements */
        }

        /* Styles for the loader itself */
        .loader {
            border: 4px solid #f3f3f3; /* Light gray border */
            border-top: 4px solid #3498db; /* Blue border for animation */
            border-radius: 50%; /* Circle shape */
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite; /* Rotate animation */
        }

        /* Keyframes for the loader spin animation */
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
</style>

<%- include('./partials/dashboard/sidebar.ejs'); %>

  <!-- Main Component -->
  <div class="main">
    <nav class="navbar navbar-expand px-3 border-bottom">
        <!-- Button for sidebar toggle -->
        <button class="btn" type="button" data-bs-theme="dark">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <main class="content px-3 py-2">
        <div class="container-fluid">
            <div class="mb-3">
                <div class="row">
                    <h3>Series Translation</h3>
                    
                    <div class="col-sm-10">
                        <div class="mb-3">
                            
                            <table class="table table-bordered text-white">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Series terms (in original language)</th>
                                    <th scope="col">Spanish</th>
                                    <th scope="col">Hebrew</th>
                                    <th scope="col">Yiddish</th>
                                  </tr>
                                </thead>
                                <tbody id="series_body">
                                   
                                    <% let index = 1 %>
                                    <% groupedData.forEach((item) => { %>
                                        <tr>
                                            <td><%= index %></td>
                                            <td>
                                                <%= item.translations.find((t) => t.lang === 'en')?.titles || '-' %> (English)
                                            </td>
                                            <td>
                                                <%= item.translations.find((t) => t.lang === 'es')?.titles || '-' %> (Spanish)
                                                <a href="" class="lang_tran" data-lang="Spanish" data-orginal-lang="<%= item.translations.find((t) => t.lang === 'en')?.titles || '-' %>" data-tran-lang="<%= item.translations.find((t) => t.lang === 'es')?.titles || '-' %>" data-id="<%= item.relationlId %>" data-lang-code="es"><i class="fa-solid fa-pen-to-square text-white"></i></a>
                                            </td>
                                            <td>
                                                <%= item.translations.find((t) => t.lang === 'he')?.titles || '-' %> (Hebrew)
                                                <a href="" class="lang_tran" data-lang="Hebrew" data-orginal-lang="<%= item.translations.find((t) => t.lang === 'en')?.titles || '-' %>" data-tran-lang="<%= item.translations.find((t) => t.lang === 'he')?.titles || '-' %>" data-id="<%= item.relationlId %>" data-lang-code="he"><i class="fa-solid fa-pen-to-square text-white"></i></a>
                                            
                                            </td>
                                            <td>
                                                <%= item.translations.find((t) => t.lang === 'yi')?.titles || '-' %> (Yiddish)
                                                <a href="" class="lang_tran" data-lang="Yiddish" data-orginal-lang="<%= item.translations.find((t) => t.lang === 'en')?.titles || '-' %>" data-tran-lang="<%= item.translations.find((t) => t.lang === 'yi')?.titles || '-' %>" data-id="<%= item.relationlId %>" data-lang-code="yi"><i class="fa-solid fa-pen-to-square text-white"></i></a>
                                            </td>
                                        </tr>
                                        <% index++ %>
                                    <% }) %>
                                </tbody>
                              </table>
    
                              <nav aria-label="Page navigation example">
                                <ul class="pagination" id="pagination">
                                </ul>
                            </nav>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#transModal" id="tanslate_button">
    Launch demo modal
</button>

  
<div class="modal fade" id="transModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Series <span class="lang_text">Spanish</span> Translation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Modal content here -->
                <form>
                    <!-- Name input -->
                    <input type="text" id="series_id" class="form-control" name="series_id"  disabled style="display: none;" />
                    <input type="text" id="lang_code" class="form-control" name="lang_code"  disabled style="display: none;" />
                    <div class="form-outline mb-4">
                        <label class="form-label" for="parentlang">Original English</label>
                      <input type="text" id="parentlang" class="form-control" name="parentlang"  disabled />
                    </div>
                  
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="slug">Translate To <span class="lang_text"></span></label>
                      <input type="text" class="form-control" name="tran_lang" id="tran_lang" />
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>

                    <div class="loader-container" id="loader-container" style="display: none;">
                        <div class="loader"></div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    $(".lang_tran").click(function(e){
        e.preventDefault();
        var lang = $(this).data("lang");
        var original_lang = $(this).data("orginal-lang");
        var series_id = $(this).data("id");
        var tran_lang = $(this).data("tran-lang");
        var lang_code = $(this).data("lang-code");
        console.log(tran_lang);
        console.log("--- trans laguage ====");
        $(".lang_text").text(lang);
        $("#parentlang").val(original_lang);
        $("#series_id").val(series_id);
        $("#tran_lang").val(tran_lang);
        $("#lang_code").val(lang_code);
        $("#tanslate_button").click();
    });

    // $(document).on("sbumit", "form", function(e) {
    $("form").submit(function (e) {
        e.preventDefault(); // Prevent the default form submission

                // If the form is valid, proceed with AJAX submission

        var formData = new FormData(this);
        let parentlang = $("#parentlang").val();
        console.log(parentlang);
        console.log("parent data ===");

        console.log(formData);
        console.log("checking form dfata ====");

         // Debugging: Check formData
            // for (var pair of formData.entries()) {
            //     console.log(pair[0] + ', ' + pair[1]);
            // }
        var series_id = $("#series_id").val();
        var translate_text = $("#tran_lang").val();
        var lang_code = $("#lang_code").val();
        var loader = $("#loader-container");

        $.ajax({
            type: "POST", // Change to "POST" or "PUT" if needed
            url: `/api/series/translate`, // Replace with your API endpoint
            data: {
                series_id: series_id,
                translate_text: translate_text,
                lang_code: lang_code
            },
            beforeSend: function() {
                // setting a timeout
                loader.show();
            },
            success: function (response) {
                // Handle the success response here
                console.log("Success:", response);
                $("form").after(`<span class="text-success">New Series has been created</span>`);
                location.reload();
            },
            error: function (error) {
                // Handle the error response here
                console.log("Error:", error);
                loader.hide();
            },
        });

    });

    
  </script>

 
<%- include('./partials/dashboard/footer.ejs'); %>
